In [2]:
import pandas as pd

In [13]:
ser = pd.Series([2 ,3 , 2, 52])
print(ser)
ser.index=["he","sad","wda","and"]
ser.columns = ['fa', 'wda','fwwf','wqd']

0     2
1     3
2     2
3    52
dtype: int64

In [5]:
ser2 = pd.Series([23 , 53 , 35 ,42] , index = ["shyam","ram","satyam", "harsh"])

In [6]:
ser2

shyam     23
ram       53
satyam    35
harsh     42
dtype: int64

In [8]:
data = {
"name": ["Alice", "Bob", "Charlie"],
"age": [25, 30, 35],
"city": ["Delhi", "Mumbai", "Bangalore"]
}
df = pd.DataFrame(data)
print(df)

      name  age       city
0    Alice   25      Delhi
1      Bob   30     Mumbai
2  Charlie   35  Bangalore

In [5]:
ser1 = pd.Series([2 ,3 , 2, 52])
ser1.index=["he","sad","wda","and"]
print(ser1)

he      2
sad     3
wda     2
and    52
dtype: int64